In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("UpdatedResumeDataSet.csv")

# Basic info
print(df.shape)
print(df.columns)

# View first few rows
df.head()

(962, 2)
Index(['Category', 'Resume'], dtype='object')

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [2]:
# Check missing values
df.isnull().sum()

# Category distribution
df['Category'].value_counts().head()

Category
Java Developer      84
Testing             70
DevOps Engineer     55
Python Developer    48
Web Designing       45
Name: count, dtype: int64